OPENROUTER_API_KEY=sk-xxx
AGENTROUTER_API_KEY=sk-xxx
OLLAMA_AK=xxx
OLLAMA_CN=sk-xxx
NS2E_AK=sk-xxx
OPENAI_AK=sk-xxx
DOUGH_AK=sk-xxx
BYTEPLUS_AK=ark-xxx
HF_AK=hf_xxx
NVIDIA_AK=nvapi-xxx
TENCENT_AK=sk-xxx